---
import { Check, X } from 'lucide-react';
import { Button } from '@/components/ui/button';
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

const appUrl = import.meta.env.PUBLIC_APP_URL;
---

<section class="py-20" id="pricing">
  <div class="container mx-auto px-4">
    <div class="mb-16 text-center">
      <h2 class="mb-4 text-3xl font-bold tracking-tight text-foreground sm:text-4xl">
        Pricing
      </h2>
      <p class="mx-auto max-w-2xl text-muted-foreground">
        Kosync is free to use while we're in beta!
      </p>
    </div>
    <div class="max-w-md mx-auto">
      <Card className="relative flex flex-col">
        <CardHeader>
          <CardTitle className="text-2xl">Free</CardTitle>
        </CardHeader>
        <CardContent className="flex-1">
          <div class="mb-6 flex items-baseline">
            <span class="text-4xl font-extrabold tracking-tight">€0</span>
            <span class="ml-1 text-muted-foreground">/month</span>
          </div>
          <ul class="space-y-3">
            <li class="flex items-center text-muted-foreground">
              <Check className="mr-2 h-4 w-4 text-primary" />
              5 books
            </li>
            <li class="flex items-center text-muted-foreground">
              <X className="mr-2 h-4 w-4 text-red-500" />
              Sync bookmarks and annotations
            </li>
          </ul>
        </CardContent>
        <CardFooter>
          <Button className="w-full" href={appUrl}>
            Get Started
          </Button>
        </CardFooter>
      </Card>
    </div>
  </div>
</section>
