<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KoSync</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="h-full" x-data="{uploadModalOpen: false}">
    <div class="min-h-full">
        <nav class="border-b border-gray-200 bg-white dark:border-white/10 dark:bg-gray-900">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 justify-between">
                    <div class="flex">
                        <div class="flex shrink-0 items-center">
                            <span class="text-indigo-600 text-lg font-bold">KoSync</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="py-10">
            <header>
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                    <div class="flex items-center justify-between">
                        <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">Dashboard</h1>

                        <div class="flex flex-row gap-4">
                            <button command="show-modal" commandfor="drawer" class="cursor-pointer rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:shadow-none dark:hover:bg-indigo-400 dark:focus-visible:outline-indigo-500">
                                Download client
                            </a>
                            <button x-on:click="$refs.fileInput.click()" type="button" class="cursor-pointer rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:shadow-none dark:hover:bg-indigo-400 dark:focus-visible:outline-indigo-500">
                                Upload new book
                            </button>
                        </div>

                        <form class="hidden" action="/books" method="POST" x-ref="form" enctype="multipart/form-data" x-on:submit="uploadModalOpen = true">
                            <input type="file" accept=".epub" class="hidden" name="file" x-ref="fileInput" x-on:change="$refs.form.submit()">
                        </form>
                    </div>
                </div>
            </header>
            <main>
                <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
                    <div class="grid grid-cols-4">
                        {% for book in books %}
                            <img src="data:image;base64,{{book.cover_image_base64}}" >
                        {% endfor %}
                    </div>

                 </div>
            </main>
        </div>
    </div>

    <el-dialog>
    <dialog id="drawer" aria-labelledby="drawer-title"
        class="fixed inset-0 size-auto max-h-none max-w-none overflow-hidden bg-transparent backdrop:bg-transparent">
        <el-dialog-backdrop class="absolute inset-0 bg-gray-500/75 transition-opacity duration-500 ease-in-out data-closed:opacity-0 dark:bg-gray-900/50"></el-dialog-backdrop>
        
        <div tabindex="0" class="absolute inset-0 pl-10 focus:outline-none sm:pl-16">
            <el-dialog-panel
                class="ml-auto block size-full max-w-md transform transition duration-500 ease-in-out data-closed:translate-x-full sm:duration-700">
                <div
                    class="relative flex h-full flex-col overflow-y-auto bg-white py-6 shadow-xl dark:bg-gray-800 dark:after:absolute dark:after:inset-y-0 dark:after:left-0 dark:after:w-px dark:after:bg-white/10">
                    <div class="px-10">
                        <div class="flex items-start justify-between">
                            <h2 id="drawer-title" class="text-base font-semibold text-gray-900 dark:text-white">
                                Install KoSync client
                            </h2>
                            <div class="ml-3 flex h-7 items-center">
                                <button type="button" command="close" commandfor="drawer"
                                    class="relative rounded-md text-gray-400 hover:text-gray-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:hover:text-white dark:focus-visible:outline-indigo-500">
                                    <span class="absolute -inset-2.5"></span>
                                    <span class="sr-only">Close panel</span>
                                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                        data-slot="icon" aria-hidden="true" class="size-6">
                                        <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="relative mt-6 flex-1 px-10">
                        Please follow the following steps to install the KoSync client on your Kobo device:

                        <ol class="list-decimal pt-4">
                            <li>
                                Download the <i>KoboRoot.tgz</i> file 
                                <a href="/download" class="relative cursor-pointer rounded-md bg-transparent font-semibold text-indigo-400 focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-indigo-500 hover:text-indigo-300">
                                    here
                                </a>
                            </li>
                            <li>
                                Move the <i>KoboRoot.tgz</i> into the hidden <span class="font-mono">.kobo/</span> folder on your Kobo device.
                            </li>
                            <li>
                                Reboot your Kobo device.
                            </li>
                            <li>
                                See the <span>KoSync</span> menu button appear in the bottom right and click the Synchronise button.
                            </li>
                        </ol>
                    </div>
                </div>
            </el-dialog-panel>
        </div>
    </dialog>
    </el-dialog>

</body>

</html>